a.out
hai.v
testbench_tmp.v
alu
alu_redesign
alutester
*.o
alutester_tb_file.v
alutester_vvp_file
testbench/another.c
testbench/test.c
testbench/true.c
*/tikzpics/dep_cache.lua
figcache/
_minted*
*.toc
*.aux
*.auxlock
*.log
*.pdf
*.tstp
