a.out
hai.v
testbench_tmp.v
alu
alu_redesign
alutester
*.o
alutester_tb_file.v
alutester_vvp_file
testbench/another.c
testbench/test.c
testbench/true.c
*/*/_minted*/
*/_minted*/
*/tikzpics/dep_cache.lua
*.toc
*.aux
*.auxlock
*.log
*.pdf
*.tstp
dep_cache
subfix_cache
